.App {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: Black;
}